body{
  margin: 0%;
  padding: 0%;
  background-color: #252525;
}

.container{
  font-family: Gill Sans, sans-serif, monospace;
  color: #E3E3E3;
  font-weight: bold;
  font-size: 75px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}